@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,200;1,300;1,400;1,500;1,600;1,900&family=Smooch+Sans:wght@100;300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: Poppins, sans-serif;
  line-height: 1.5;
}
body {
  background: rgb(217, 244, 251);
  overflow-x: hidden;
  overflow-y: scroll;
  height: auto;
  background: linear-gradient(
    276deg,
    rgba(217, 244, 251, 1) 7%,
    rgba(244, 202, 238, 1) 52%,
    rgba(217, 241, 247, 1) 92%
  );

  /** NAVBAR**/
  .navbar {
    position: fixed;
    width: 97.5%;
    padding: 7px 500px 7px 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
    .logo {
      padding: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 800;
      font-size: 1.5em;
      font-family: sans-serif;
    }
    .searchBox {
      width: 35%;
    }
    .link {
      width: 30%;
      height: 100%;
      display: flex;
      list-style-type: none;
      margin: 0 !important;

      .linkItem {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
        padding: 5px;
        a {
          text-decoration: none;
          font-size: 18px;
          font-weight: 600;
          color: rgb(44, 42, 42);
          font-family: sans-serif;
          transition: 0.5s;
        }
        a:hover {
          color: rgb(117, 106, 106);
        }
      }
    }
  }
  .active {
    background-color: white;
    box-shadow: 0.5px 0.5px 5px;

    .searchBox {
      .search {
        transition: 0.5s;
        border: 2px solid rgb(101, 100, 100);
      }
    }
  }
  .active2 {
    background-color: white !important;
    box-shadow: 0.5px 0.5px 5px !important;
    .searchBox {
      .search {
        transition: 0.5s;
        border: 2px solid rgb(101, 100, 100) !important;
      }
    }
  }
  @media screen and (max-width: 480px) {
  }

  /** HEADER TOPIC AND SLIDER **/
  .body {
    width: 100%;
    height: auto;
    .Header {
      height: 70vh;
      padding-top: 89px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .theme-container {
        width: 100%;
        height: 50%;
        .theme {
          display: flex;
          align-items: center;
          text-align: center;
          justify-content: center;
          font-weight: 900;
          line-height: 1.5;
          margin-bottom: 20px;
        }
      }
      .slider-container {
        background-color: white;
        background: transparent;
        backdrop-filter: blur(20px);
        border-top: 20px;
        border-top-color: linear-gradient(
          276deg,
          rgba(217, 244, 251, 1) 7%,
          rgba(244, 202, 238, 1) 52%,
          rgba(217, 241, 247, 1) 92%
        );
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .main-slide-container {
          width: 100%;
          padding: 10px 15px 10px 10px;
          .slide {
            box-sizing: border-box;
            border-radius: 20px;
            height: 50vh;
            margin-bottom: 10px;

            .slide-image {
              border-radius: inherit;
              width: 100%;
              height: 100%;
              overflow: hidden;
              display: flex;
              align-items: center;
              justify-content: center;
            }
            .brand-title {
              position: absolute;
              bottom: 0;
              padding: 0 0 15px 15px;
              width: 90%;
              .brand-name {
                font-weight: 600;
                font-size: 16px;
                color: rgb(255, 255, 255);
                background-color: rgb(152, 146, 146);
                background: transparent;
                backdrop-filter: blur(8);
              }
            }
          }
        }
      }
    }
    /**CARD CONTAINER**/
    .card-container {
      padding: 30px 16px;
      background-color: white;
      height: auto;
      .card-topic {
        color: rgb(4, 17, 29);
        --text-large: 32px;
        --text-medium: 24px;
        --text-small: 20px;
        --text-lh-large: 40px;
        --text-lh-medium: 32px;
        --text-lh-small: 28px;
        font-size: var(--text-small);
        line-height: var(--text-lh-small);
        font-weight: 600;
        padding: 10px;
      }
    }
  }
}
