@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,900;1,200;1,300;1,400;1,500;1,600;1,900&family=Smooch+Sans:wght@100;300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: Poppins, sans-serif;
  line-height: 1.5;
}

body {
  overflow-x: hidden;
  overflow-y: scroll;
  height: auto;
  /** NAVBAR**/
  /** HEADER TOPIC AND SLIDER **/
}
body .navbar {
  position: fixed;
  width: 97.5%;
  padding: 7px 500px 7px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
}
body .navbar .logo {
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 1.5em;
  font-family: sans-serif;
}
body .navbar .searchBox {
  width: 35%;
}
body .navbar .link {
  width: 30%;
  height: 100%;
  display: flex;
  list-style-type: none;
  margin: 0 !important;
}
body .navbar .link .linkItem {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  padding: 5px;
}
body .navbar .link .linkItem a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #2c2a2a;
  font-family: sans-serif;
  transition: 0.5s;
}
body .navbar .link .linkItem a:hover {
  color: #756a6a;
}
body .active {
  background-color: white;
  box-shadow: 0.5px 0.5px 5px;
}
body .active .searchBox .search {
  transition: 0.5s;
  border: 2px solid #656464;
}
body .active2 {
  background-color: white !important;
  box-shadow: 0.5px 0.5px 5px !important;
}
body .active2 .searchBox .search {
  transition: 0.5s;
  border: 2px solid #656464 !important;
}
body .body {
  width: 100%;
  height: auto;
  /**CARD CONTAINER**/
}
body .body .Header {
  height: 70vh;
  padding-top: 89px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body .body .Header .theme-container {
  width: 100%;
  height: 50%;
}
body .body .Header .theme-container .theme {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-weight: 900;
  line-height: 1.5;
  margin-bottom: 20px;
}
body .body .Header .slider-container {
  background-color: white;
  background: transparent;
  backdrop-filter: blur(20px);
  border-top: 20px;
  border-top-color: linear-gradient(276deg, #d9f4fb 7%, #f4caee 52%, #d9f1f7 92%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
body .body .Header .slider-container .main-slide-container {
  width: 100%;
  padding: 10px 15px 10px 10px;
}
body .body .Header .slider-container .main-slide-container .slide {
  box-sizing: border-box;
  border-radius: 20px;
  height: 50vh;
  margin-bottom: 10px;
}
body .body .Header .slider-container .main-slide-container .slide .slide-image {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .body .Header .slider-container .main-slide-container .slide .brand-title {
  position: absolute;
  bottom: 0;
  padding: 0 0 15px 15px;
  width: 90%;
}
body .body .Header .slider-container .main-slide-container .slide .brand-title .brand-name {
  font-weight: 600;
  font-size: 16px;
  color: white;
  background-color: #989292;
  background: transparent;
  backdrop-filter: blur(8);
}
body .body .card-container {
  padding: 30px 16px;
  background-color: white;
  height: auto;
}
body .body .card-container .card-topic {
  color: #04111d;
  --text-large: 32px;
  --text-medium: 24px;
  --text-small: 20px;
  --text-lh-large: 40px;
  --text-lh-medium: 32px;
  --text-lh-small: 28px;
  font-size: var(--text-small);
  line-height: var(--text-lh-small);
  font-weight: 600;
  padding: 10px;
}

/*# sourceMappingURL=App.css.map */
